/* @import "tailwindcss"; */
/* Preline UI */
/* @source "./node_modules/preline/dist/*.js"; */
/* @import "./node_modules/preline/variants.css"; */




@import url("/assets/fonts/css/all.min.css");
@import url("/assets/fonts/css/flag-icons.min.css");
@import url("/assets/fonts/css/charifund.css");

@import url("/assets/css/aos.css");
@import url("/assets/css/nice-select.css");
@import url("/assets/css/default-theme.css");
@import url("/assets/css/sticky-header.css");
@import url("/assets/css/box-layout.css");
@import url("/assets/css/dark-mode.css");
@import url("/assets/css/blue-theme.css");
@import url("/assets/css/main.css");

:root {
  --base-color:#ffc107;
}

body {
  font-family: var(--font-inter), sans-serif;
}

/* h1, h2 {
  font-family: var(--font-hubot), sans-serif;
} */

blockquote {
  font-family: var(--font-edu), cursive;
}


/* Plugins */
/* @plugin "@tailwindcss/forms"; */

 :root {
  --background: #ffffff;
  --foreground: #171717;
}



/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


/* .auth-form-input {
  @apply border-stroke-3 bg-background-1 placeholder:text-tagline-2 placeholder:text-secondary/60 text-secondary text-tagline-1 dark:bg-background-6 dark:border-stroke-7 dark:placeholder:text-accent/60 dark:text-accent block h-[45px] w-full rounded-full border px-[18px] py-3 font-normal placeholder:font-normal focus:ring-0 focus:outline-none;
} */


