/* @import "tailwindcss"; */
/* Preline UI */
/* @source "./node_modules/preline/dist/*.js"; */
/* @import "./node_modules/preline/variants.css"; */

:root {
  --base-color:#ffc107;
}



@import url("/public/assets/fonts/css/all.min.css"); 
@import url("/public/assets/fonts/css/flag-icons.min.css");
@import url("/public/assets/fonts/css/charifund.css"); 

@import url("/public/assets/css/aos.css");
@import url("/public/assets/css/nice-select.css");
@import url("/public/assets/css/default-theme.css");
@import url("/public/assets/css/sticky-header.css");
@import url("/public/assets/css/box-layout.css");
@import url("/public/assets/css/flag-icons.min.css");
@import url("/public/assets/css/dark-mode.css");
@import url("/public/assets/css/blue-theme.css");

@import url("/public/assets/css/main.css");


body {
  font-family: var(--font-inter), sans-serif;
}

/* h1, h2 {
  font-family: var(--font-hubot), sans-serif;
} */

blockquote {
  font-family: var(--font-edu), cursive;
}


/* Plugins */
/* @plugin "@tailwindcss/forms"; */

 :root {
  --background: #ffffff;
  --foreground: #171717;
}
/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
